name: ffmpeg-library-build

on:
  push:
    paths:
      - 'Dockerfile'
      - 'scripts/common/**.sh'
      - 'scripts/linux/**.sh'
      - 'scripts/windows/**.sh'
      - '.github/workflows/ffmpeg-library-build.yml'
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/') == false
    strategy:
      matrix:
        os: [linux, windows]
    env:
      target_os: ""
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: akashisn
          password: ${{ github.token }}

      - name: Set build target (windows)
        if: matrix.os == 'windows'
        run: |
          echo "target_os=Windows" >> $GITHUB_ENV

      - name: Build ffmpeg-build-base
        uses: docker/build-push-action@v6
        with:
          context: ./
          file: ./Dockerfile
          tags: |
            ghcr.io/akashisn/ffmpeg-library:${{ matrix.os }}
          build-args: |
            TARGET_OS=${{ env.target_os }}
          target: ffmpeg-library
          platforms: linux/amd64
          cache-from: type=gha
          cache-to: type=gha,mode=max
          push: true
