name: ffmpeg

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main' && startsWith(github.ref, 'refs/tags/') == false
    strategy:
      matrix:
        ffmpeg: ["8.0", "7.0.2", "6.1.2", "5.1.6"]
        flavor: [linux, windows]
    env:
      target: ""
      image_name: ""
      image_tag: ""
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: akashisn
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: akashisn
          password: ${{ github.token }}

      - name: Set build target (linux)
        if: matrix.flavor == 'linux'
        run: |
          echo "target=ffmpeg-linux" >> $GITHUB_ENV
          echo "image_name=akashisn/ffmpeg" >> $GITHUB_ENV
          echo "image_tag=${{ matrix.ffmpeg }}" >> $GITHUB_ENV

      - name: Set build target (windows)
        if: matrix.flavor == 'windows'
        run: |
          echo "target=ffmpeg-windows" >> $GITHUB_ENV
          echo "image_name=ghcr.io/akashisn/ffmpeg-windows" >> $GITHUB_ENV
          echo "image_tag=${{ matrix.ffmpeg }}" >> $GITHUB_ENV

      - name: Build and push - ffmpeg
        uses: docker/build-push-action@v6
        with:
          context: ./
          file: ./Dockerfile
          tags: |
            ${{ env.image_name }}:${{ env.image_tag }}
          build-args: |
            FFMPEG_VERSION=${{ matrix.ffmpeg }}
          platforms: linux/amd64
          target: ${{ env.target }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          push: true
