name: vainfo

on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main' && startsWith(github.ref, 'refs/tags/') == false
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: akashisn
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build vainfo
        uses: docker/build-push-action@v6
        with:
          context: ./
          file: ./Dockerfile
          tags: |
            akashisn/vainfo
          platforms: linux/amd64
          target: vainfo
          push: true
